[user]
	name = klucar
	email = klucar@gmail.com

[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global
	pager = less -FRX

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = current
	autoSetupRemote = true

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate -20
	last = log -1 HEAD
	unstage = reset HEAD --
	amend = commit --amend --no-edit
	wip = !git add -A && git commit -m 'WIP'
	diffw = diff --word-diff

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff
	conflictstyle = diff3

[rerere]
	enabled = true
